@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');

#root {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Didot', sans-serif;
}
