.blog-page {
  .header {
    &__image {
      position: relative;
      width: 100%;
      height: 60vh;
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../../../public/images/blog.jpg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      h1 {
        width: 70%;
        height: 10%;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2em;
        text-align: center;
        color: white;
        font-weight: 100;
        font-style: italic;
      }
    }
  }
  h2 {
    margin: 5% 0 0 3%;
    font-weight: 100;
  }
}
@media screen and (min-width: 500px) {
  .blog-page {
    .header {
      &__image {
        h1 {
          top: 65%;
        }
      }
    }
    h2 {
      margin-left: 10%;
    }
  }
}
@media screen and (min-width: 600px) {
  .blog-page {
    h2 {
      margin-left: 15%;
    }
  }
}
@media screen and (min-width: 680px) {
  .blog-page {
    h2 {
      margin-left: 17.5%;
    }
  }
}
@media screen and (min-width: 768px) {
  .blog-page {
    h2 {
      margin: 3% 0 0 5%;
    }
  }
}
@media screen and (min-width: 1024px) {
  .blog-page {
    .header {
      &__image {
        background-attachment: fixed;
      }
    }
    h2 {
      margin: 3% 0 0 5.5%;
    }
    &__filter-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
    }
    .header {
      &__image {
        h1 {
          top: 60%;
          font-size: 2.4em;
        }
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .blog-page {
    h2 {
      margin-left: 1%;
    }
  }
}
@media screen and (min-width: 1300px) {
  .blog-page {
    .header {
      &__image {
        h1 {
          font-size: 2.6em;
        }
      }
    }
    h2 {
      margin-top: 1%;
    }
  }
}
@media screen and (min-width: 1600px) {
  .blog-page {
    .header {
      &__image {
        h1 {
          font-size: 2.8em;
        }
      }
    }
  }
}
