.login-page {
  padding-top: 45%;
  background-color: #242a35;
  color: white;
  border-bottom: 1px solid black;
  &__box {
    padding-bottom: 15%;
    margin: 0 auto;
    width: 90%;
    h2 {
      margin-bottom: 5px;
    }
    .logo {
      width: 50px;
      height: 50px;
    }
    p {
      color: grey;
      font-size: 0.9em;
      a {
        color: white;
        font-weight: bold;
        text-decoration: none;
      }
    }
    form {
      margin-block: 5%;
      p.invalid {
        color: rgb(218, 45, 45);
      }
      input {
        margin-block: 10px;
        padding: 5px 10px;
        width: 100%;
        font-size: 1.1em;
        background-color: darken(#242a35, 10%);
        color: white;
        border-radius: 7px;
        border: 1px solid grey;
        outline: none;
      }
      .password {
        position: relative;

        .icon {
          position: absolute;
          right: 2.5%;
          top: 0;
          display: flex;
          align-items: center;
          height: 100%;
          img {
            height: 50%;
          }
        }
      }
      button {
        padding: 5px 10px;
        width: 100%;
        background-color: #66b31b;
        color: #eee;
        border: none;
        border-radius: 10px;
        font-size: 1.1em;
        transition: 0.3s;
        &:hover {
          background-color: #599b13;
          cursor: pointer;
        }
      }
    }
  }
}
