.teas-page {
  position: relative;
  width: 100%;
  min-height: 100vh;
  .header {
    &__image {
      height: 60vh;
    }
    h1 {
      width: 90%;
      top: 65%;
    }
  }
}
@media screen and (min-width: 1024px) {
  .teas-page {
    .header__image {
      background-attachment: fixed;
    }
    &__filter-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
    }
  }
}
