.teas-page {
  position: relative;
  width: 100%;
  min-height: 100vh;
  .header {
    &__image {
      height: 60vh;
    }
    h1 {
      width: 90%;
      top: 65%;
    }
  }
  .spinner {
    margin: 25% auto 15%;
    width: 80%;
    justify-content: center;
  }
  .error {
    margin: 35% auto 15%;
    width: 80%;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
  }
}
@media screen and (min-width: 768px) {
  .teas-page {
    .spinner {
      margin: 15% auto;
    }
    .error {
      margin: 20% auto 15%;
    }
  }
}
@media screen and (min-width: 1024px) {
  .teas-page {
    .spinner {
      margin: 10% auto;
    }
    .error {
      margin: 10% auto;
    }
    .header__image {
      background-attachment: fixed;
    }
    &__filter-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
    }
  }
}
@media screen and (min-width: 1400px) {
  .teas-page {
    .spinner {
      margin: 7.5% auto;
    }
    .error {
      margin: 7.5% auto;
    }
  }
}
