.note {
  margin-block: 10%;
  padding-bottom: 8%;
  width: 100%;
  position: relative;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  p {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 1.3em;
    margin-bottom: 3%;
    cursor: pointer;
    img {
      width: 5%;
      margin-right: 3%;
    }
  }
  textarea {
    width: 100%;
    height: 100px;
    padding: 3%;
    font-size: 1.2em;
    outline: none;
    border: 1px solid black;
    resize: none;
  }
}
@media screen and (min-width: 550px) {
  .note {
    margin-block: 8%;
    padding-bottom: 6%;
    p {
      font-size: 1.2em;
    }
  }
}
@media screen and (min-width: 768px) {
  .note {
    border-bottom: none;
  }
}
@media screen and (min-width: 1024px) {
  .note {
    margin-block: 5%;
    p {
      font-size: 1em;
      transition: 0.3s;
      &:hover {
        color: #777;
      }
      img {
        width: 3%;
      }
    }
    textarea {
      width: 70%;
      height: 100px;
      padding: 2% 3%;
      font-size: 1em;
    }
  }
}
