.products-list {
  margin: 0 auto;
  width: 90%;
  h3 {
    padding-block: 10% 5%;
    margin-bottom: 10%;
    font-size: 1.6em;
    font-weight: 300;
    font-style: italic;
    border-bottom: 1px solid black;
  }
}
@media screen and (min-width: 550px) {
  .products-list {
    width: 85%;
  }
}
@media screen and (min-width: 768px) {
  .products-list {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .products-list {
    width: 60%;
  }
}
