.promo-code {
  margin-bottom: 5%;
  padding-bottom: 8%;
  width: 100%;
  position: relative;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  p {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 1.3em;
    margin-bottom: 3%;

    cursor: pointer;
    img {
      width: 5%;

      margin-right: 3%;
    }
  }
  input {
    width: 60%;
    padding: 3%;
    font-size: 1em;
    border: 1px solid black;
    outline: none;
  }
  button {
    padding: 3.4%;
    width: 35%;
    background-color: transparent;
    border: 1px solid black;
    transition: 0.5s;
    &:hover {
      color: #777;
      cursor: pointer;
    }
  }
}
@media screen and (min-width: 550px) {
  .promo-code {
    padding-bottom: 6%;
    width: 100%;
    p {
      font-size: 1.2em;
    }
    button {
      width: 25%;
    }
  }
}
@media screen and (min-width: 768px) {
  .promo-code {
    border-bottom: none;
  }
}
@media screen and (min-width: 1024px) {
  .promo-code {
    margin-bottom: 1%;
    padding-bottom: 1%;
    p {
      font-size: 1em;
      margin-bottom: 3%;
      transition: 0.3s;
      &:hover {
        color: #777;
      }
      img {
        width: 4%;
        margin-right: 2%;
      }
    }
    input {
      padding: 2%;
      width: 50%;
    }
    button {
      padding: 2.3%;
      width: 20%;
    }
  }
}
