.new-arrivals {
  margin-block: 8%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  color: #242a35;
  &__title {
    width: 90%;
    padding-block: 5%;
    font-weight: 500;
    font-style: italic;
    border-top: 1px solid #242a35;
    border-bottom: 1px solid #242a35;
  }
  &__paragraph {
    width: 90%;
    margin-top: 8%;
    font-weight: 300;
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 15px;
    font-weight: 100;
    text-decoration: none;
    background-color: #242a35;
    color: white;
    cursor: pointer;
  }
}
