.quote {
  margin-block: 5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #242a35;
  p {
    width: 65%;
    line-height: 150%;
    margin-block: 5%;
    text-align: center;
  }
  &__text {
    font-style: italic;
    font-weight: 300;
  }
  &__author {
    font-weight: 100;
  }
}
@media screen and (min-width: 768px) {
  .quote {
    margin-block: 5%;
    p {
      width: 55%;
      margin-block: 3%;
      font-size: 1.4em;
    }
    p:nth-of-type(2) {
      font-size: 1.2em;
    }
  }
}
@media screen and (min-width: 1024px) {
  .quote {
    margin-block: 3%;
    p {
      width: 45%;
      margin-block: 2%;
      font-size: 1.2em;
    }
    p:nth-of-type(2) {
      font-size: 1.1em;
    }
  }
}
@media screen and (min-width: 1400px) {
  .quote {
    margin-block: 2%;
    p {
      width: 35%;
      margin-block: 1%;
      font-size: 1.4em;
    }
    p:nth-of-type(2) {
      font-size: 1.2em;
    }
  }
}
