.welcome {
  .background-image {
    position: relative;
    width: 100%;
    height: 90vh;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url('../../../../public/images/home-page-img.jpg');

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .header {
      width: 90%;
      height: 10%;
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.8em;
      text-align: center;
      color: white;
      font-weight: 100;
      transform: scale(0.9) translate(-50%, -50%);
      animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
      span {
        opacity: 0;
        filter: blur(4px);
      }

      @keyframes scale {
        100% {
          transform: scale(1) translate(-50%, -50%);
        }
      }
      span:nth-of-type(1) {
        animation: fade-in 1.2s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
      }
      span:nth-of-type(2) {
        font-weight: 300;
        font-style: italic;
        animation: fade-in 1.2s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
      }
      @keyframes fade-in {
        100% {
          opacity: 1;
          filter: blur(0);
        }
      }
    }

    .shop-now-button {
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 55%;
      height: 8%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      text-decoration: none;
      color: white;
      border: 1px solid white;
      font-weight: 300;
    }
  }
}
@media screen and (min-width: 500px) {
  .welcome {
    .background-image {
      .header {
        font-size: 2em;
      }

      .shop-now-button {
        top: 75%;
        width: 45%;
        height: 8%;
        font-size: 1.2em;
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .welcome {
    .background-image {
      .header {
        top: 50%;
        font-size: 2.5em;
      }
      .shop-now-button {
        top: 70%;
        width: 35%;
        height: 7%;
        font-size: 1.3em;
        transition: 0.5s;
        &:hover {
          background-color: rgba(119, 119, 119, 0.3);
          border-color: rgba(119, 119, 119, 0.3);
        }
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  .welcome {
    .background-image {
      .header {
        font-size: 2.7em;
      }
      .shop-now-button {
        top: 65%;
        width: 15%;
        height: 5%;
        font-size: 1.1em;
      }
    }
  }
}
@media screen and (min-width: 1400px) {
  .welcome {
    .background-image {
      .header {
        font-size: 2.9em;
      }
      .shop-now-button {
        width: 10%;
      }
    }
  }
}
