.admin-panel {
  position: relative;
  min-height: 100vh;

  div.products,
  div.add-product,
  div.admin-prod-details,
  div.users, div.edit-user {
    position: absolute;
    left: 15%;
    top: 0;
    width: 85%;
    padding: 15px;
  }
}
