.color-inputs {
  position: relative;
  margin-top: 10%;
  display: flex;
  flex-wrap: wrap;
  .warning {
    display: none;
    position: absolute;
    top: 90%;
    left: -6%;
    padding: 2%;
    border-radius: 5px;
    background-color: red;
    color: white;
    .warning-arrow-up {
      position: absolute;
      top: -25%;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;

      border-bottom: 10px solid red;
    }
    &.active {
      display: block;
    }
  }
  .color {
    font-size: 1.1em;
    width: 100%;
  }
  input[type='radio'] {
    display: none;
    &:checked + #radio-container::before {
      box-shadow: 0 0 0 1px #000;
    }
  }
  #radio-container {
    display: inline-block;
    position: relative;

    margin-block: 5%;
    cursor: pointer;
    &::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 3px solid #fff;
      margin-right: 5px;
    }
  }
  #Blue-Grey + #radio-container::before {
    background-color: #3f4860;
  }
  #Violet + #radio-container::before {
    background-color: #665573;
  }
  #Black + #radio-container::before {
    background-color: #000;
  }
  #Brown + #radio-container::before {
    background-color: #694e4f;
  }
  #Light-Green + #radio-container::before {
    background-color: #9eaa7c;
  }
  #Grey + #radio-container::before {
    background-color: #4b4d58;
  }
}
@media screen and (min-width: 600px) {
  .color-inputs {
    margin-top: 5%;
    .warning {
      top: 80%;
      left: -5.5%;
    }
  }
}
@media screen and (min-width: 768px) {
  .color-inputs {
    .warning {
      top: 85%;
      left: -7%;
    }
  }
}
@media screen and (min-width: 1024px) {
  .color-inputs {
    .warning {
      left: -8%;
    }
  }
}
@media screen and (min-width: 1400px) {
  .color-inputs {
    .warning {
      top: 80%;
    }
  }
}
@media screen and (min-width: 1600px) {
  .color-inputs {
    .warning {
      top: 82%;
      left: -9%;
    }
  }
}
@media screen and (min-width: 1700px) {
  .color-inputs {
    .warning {
      left: -8%;
    }
  }
}
@media screen and (min-width: 1900px) {
  .color-inputs {
    .warning {
      left: -7%;
    }
  }
}
