.slider {
  position: relative;
  margin: 10% 0;
  width: 90%;
  .gd-carousel {
    position: unset;
    .react-multi-carousel-item--active {
      justify-content: center;
    }

    .react-multiple-carousel__arrow {
      position: absolute;
      background-color: transparent;
      font-size: 30px;
      &::before {
        color: black;
        font-size: 30px;
      }
    }

    .react-multiple-carousel__arrow--left {
      left: -8%;
    }

    .react-multiple-carousel__arrow--right {
      right: -8%;
    }
  }
}
@media screen and (min-width: 600px) {
  .slider {
    margin: 5% 0;
    .gd-carousel {
      .react-multiple-carousel__arrow--left {
        left: -6%;
      }

      .react-multiple-carousel__arrow--right {
        right: -6%;
      }
    }
  }
}
@media screen and (min-width: 1400px) {
  .slider {
    margin: 3% 0;
  }
}
