.filter-menu {
  z-index: 4;
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: 0.5s;
  &.active {
    transform: translateX(-100%);
  }

  &__remove {
    position: absolute;
    top: 3%;
    right: 5%;
    font-size: 1.4em;
    font-weight: 300;
  }

  &__title {
    width: 100%;
    padding: 5%;
    font-weight: 300;
    font-style: italic;
    border-bottom: 1px solid #bbb;
  }
  .collection,
  .price,
  .size,
  .colors {
    width: 100%;
    padding: 5%;
    border-bottom: 1px solid #bbb;

    &__title {
      display: flex;
      justify-content: space-between;
      font-weight: 300;
      font-style: italic;
      cursor: pointer;
      span {
        font-size: 1.2em;
        font-style: normal;
      }
    }
  }
  &__buttons {
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    button {
      width: 40%;
      padding: 2%;
      font-weight: 300;
      font-style: italic;
    }
    &__clear {
      color: #444;
      border: 1px solid #444;
      background-color: #fff;
    }
    &__apply {
      color: white;
      background-color: #444;
      border: none;
    }
  }
}
@media screen and (min-width: 1024px) {
  .filter-menu {
    z-index: 2;
    height: 50vh;
    position: static;
    &__remove {
      display: none;
    }

    &__title {
      padding: 4%;
      font-size: 1.6em;
    }
    &__buttons {
      margin-top: 5%;
      position: static;
      button {
        cursor: pointer;
      }
      &__clear {
        color: #444;
        border: 1px solid #444;
        background-color: #fff;
        transition: 0.5s;
        &:hover {
          border-color: #aaa;
          color: #aaa;
        }
      }
      &__apply {
        color: white;
        background-color: #444;
        border: none;
        transition: 0.5s;
        &:hover {
          background-color: #777;
          color: #ddd;
        }
      }
    }
  }
}
