.collection {
  max-height: 8%;
  overflow: hidden;
  transition: 0.5s ease-out;
  &.active {
    max-height: 25%;
  }
  &__list {
    margin-top: 5%;
    list-style: none;
    &__el {
      padding-bottom: 2%;
      font-weight: 300;
      font-style: italic;
      &.active {
        font-weight: normal;
      }
    }
  }
}
