.collection {
  max-height: 8%;
  overflow: hidden;
  transition: 0.5s ease-out;
  &.active {
    max-height: 25%;
  }
  &__list {
    margin-top: 5%;
    list-style: none;
    &__el {
      padding-bottom: 2%;
      font-weight: 300;
      font-style: italic;
      cursor: pointer;
      &:hover {
        color: #999;
      }
      &.active {
        font-weight: bold;
        &:hover {
          color: black;
        }
      }
    }
  }
}
@media screen and (min-width: 700px) {
  .collection {
    max-height: 9%;
    &.active {
      max-height: 28%;
    }
  }
}
@media screen and (min-width: 840px) {
  .collection {
    max-height: 10%;
    &__list {
      &__el {
        font-size: 1.1em;
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  .collection {
    &.active {
      max-height: 33%;
    }
  }
}
