.card {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;

  img {
    display: block;
    width: 95%;
    height: 100%;
  }

  &__name {
    z-index: 1;
    position: relative;
    display: block;
    width: 100%;
    padding-block: 7%;
    font-weight: 300;
    font-style: italic;
    background-color: #fff;
  }
  &__price {
    font-weight: 500;
  }
  &__view {
    position: absolute;
    top: 75%;
    width: 95%;
    height: 12%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(240, 240, 240, 0.7);
    font-weight: 300;
    cursor: pointer;
    transition: 0.3s;
  }
  &:hover {
    .card__view {
      transform: translateY(-100%);
    }
  }
}
@media screen and (min-width: 1024px) {
  .card {
    &__view {
      display: flex;
    }
  }
}
@media screen and (min-width: 1100px) {
  .card {
    &__view {
      top: 77%;
    }
  }
}
@media screen and (min-width: 1200px) {
  .card {
    &__view {
      top: 78%;
    }
  }
}
@media screen and (min-width: 1370px) {
  .card {
    &__view {
      top: 79%;
    }
  }
}
@media screen and (min-width: 1500px) {
  .card {
    &__view {
      top: 80%;
    }
  }
}
@media screen and (min-width: 1600px) {
  .card {
    &__view {
      top: 80%;
    }
  }
}
@media screen and (min-width: 1700px) {
  .card {
    &__view {
      top: 81%;
    }
  }
}
@media screen and (min-width: 1850px) {
  .card {
    &__view {
      top: 82%;
    }
  }
}
